---
layout: default
---
<div class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
    <p class="post-meta">{{ page.date | front matter: "YYYY-MM-DD HH:MM:SS"}}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
  </header>

  <article class="post-content">
    {{ content }}
  </article>
  <!--WAP版-->
  <div id="SOHUCS" sid="{{page.title}}" ></div>
  <script id="changyan_mobile_js" charset="utf-8" type="text/javascript"
          src="https://changyan.sohu.com/upload/mobile/wap-js/changyan_mobile.js?client_id=cyt6xyeKL&conf=prod_143de72100dd59e98c6b76d39a2b41f6">
  </script>
</div>
